@{
    ViewData["Title"] = "CONSULTA DE NOME FANTASIA";
}


<div class="text-center">
<h3>CONSULTA DE NOME FANTASIA</h3>




    <div class="container">
        <div class="row">
            <div class="col-sm mt-3">
                
            </div>
        </div>
    </div>
</div>
